    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About LA Lights</h2>
                <p>LA Lights is no longer. But if you happened to be around the Baton Rouge music scene from 2005 to 2006, you just might have had the chance to jam with us.</p>

                <p>Coming from humble beginnings, the band started as a few friends practicing covers in a hospital supply warehouse. In August of 2005, a relief concert to raise funds for Hurricane Katrina victims nudged the band into their first public performance. The rest is history.</p>

                <p>After a few months of playing shows around the gulf south, we had the opportunity to head into the studio and record some of our original songs with local producer, Rhett Mouton. This project became the <i>Break My Fall EP.</i></p>

                <h3>The Band</h3>
                <p>
                    Josiah Granier — Lead Vocals<br>
                    Jeremy Dailey — Drums<br>
                    Chris Jones — Bass<br>
                    Kolby Kember — Electric Guitar<br>
                    Josh Ferrara — Electric Guitar<br>
                    Josh Gourgues — Synth/Electronics/Guitar<br>
                </p>
            </div>
        </div>
    </section>